

@model List<FootballMarkets.Models.Game>



@{

    ViewBag.Title = "Index";

}

<th class="wrapper">

    <div class="button-holder">

        <a type="button" href="/create" class="log-button">Create New Game</a>

    </div>

    <table>
        <tr>
            <th>Game ID</th>

            <th>Home Team</th>

            <th>Away Team</th>
            <th>Date</th>
            <th>League</th>
            <th>Winner</th>
            <th>Exact Score</th>
        </tr>

                @foreach (var game in Model.ToList())

                {

            <tr>
                <td>

                    @(game.Id)

                </td>
                <td>

                    @(game.HomeTeam)

                </td>

                <td>

                    @(game.AwayTeam)

                </td>

                <td>

                    @(game.Date)

                </td>

                <td>

                    @(game.League)

                </td>

                <td>

                    @Html.ActionLink("Winner", "Winner", new { id = game.Id}, new { @class = "edit-button" })

                </td>

                <td>

                    @Html.ActionLink("ExactScore", "ExactScore", new { id = game.Id}, new { @class = "edit-button" })

                </td>

            </tr>

                }
        </table>
        </div>

        </div>

        </div>
